body{
    background: #EBFFF5 ;
    text-align: left;
    margin: 200px;
}
.titulo {
    font-size: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 50%;
}
.input{
    border-radius: 20px;
    border-color: #21455b;
    border-width: 1px;
   
}
.background-color{
    background: rgb(33,69,91);
    background: linear-gradient(90deg, rgba(33,69,91,1) 0%, rgba(86,187,140,1) 90%);  
}
.boton{
    color: white;
    background: #21455b ;
    border-radius: 30px;
    text-align: center;
    border: 0;
    width: 100px;
    font-size: large ;
    
}
#ed-img{
    width: 130px;
}
.icono{
    width: 40px
}



.contenedor{
    display: flex;
    width: 100%;
}
#pokeinfo{
    background: white;
    padding: 20px;
    width: 30%;
    flex-grow: 1;
  
}
#not-found{
    color: red;
    font-size: 20px;
    flex-grow: 2;
}

.hide {
    display: none;
}

.valid-value {
  border: 2px solid #00FF00;
}

.invalid-value {
  border: 2px solid #FF0000;
}