:root {
    --left-size: 200px;
    --top-size: 100px;
}

body{
    background: #EBFFF5 ;
    text-align: left;
}
.titulo {
    font-size: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 50%;
}
.input{
    border-radius: 20px;
    border-color: #21455b;
    border-width: 1px;
   
}
/*
.background-color{
    background: rgb(33,69,91);
    background: linear-gradient(90deg, rgba(33,69,91,1) 0%, rgba(86,187,140,1) 90%);  
}
*/
nav{
    background: rgb(33,69,91);
    background: linear-gradient(0deg, rgba(33,69,91,1) 0%, rgba(86,187,140,1) 86%);
    position:fixed;
    width: var(--left-size);
    left: 0;
    top: 0;
    height: 100vh;
}
header{
    background:#21455b;
    position:fixed;
    left:var(--left-size);
    width:calc(100% - var(--left-size));
    top: 0px;
    height: var(--top-size);

}
.boton{
    color: white;
    background: #21455b ;
    border-radius: 30px;
    text-align: center;
    border: 0;
    width: 100px;
    font-size: large ;
    
}
#ed-img{
    width: 130px;
}
.icono{
    width: 40px
}
.pl-info{
    left:var(--left-size);
}
.container {
    padding-left: var(--left-size);
    padding-top: var(--top-size);
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   
}

#left_column{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
}
#right_column{
    display: grid;
    grid-column: 2 / 2;  
    grid-row: 1;  
}
.form {
    padding-left: var(--left-size);
}


/* mobile 
@media screen and (min-width: 480px) and (max-width: 720px) {
    .desktop {
      display: none;
    }
  }
  
  /* desktop 
  @media screen and (min-width: 721px) {
    .mobile {
      display: none;
    }
  }
  */

