body{
    background: rgb(33,69,91);
    background: linear-gradient(180deg, rgba(33,69,91,1) 17%, rgba(86,187,140,0.9976365546218487) 67%);
    left: 0;
    top: 0;
    min-height: 100vh;
    z-index: 10;
}

.boton{
    color: white;
    background: #21455b;
    border-radius: 45px;
    text-align: center;
    border: 0;
    width: 115px;
    height: 45px;
    font-family: 'Comfortaa';
    font-size: 22px;
    box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.5);
}
#btn-añadir{
  background-color: white;
  color: #21455b;
  border-radius: 35px;
  box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.25);
}

.logo{
    width: 296.62px;
    height: 150px;
    margin-top: 152px;
    margin-bottom: 157px;

}
.orientacion{
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    border-radius: 20px;
    border-width: 0;
    font-size: 25px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: lighter;
    border-color: #21455b;
    padding-left: 25px;
    width: 350px;
    height: 37px;
    margin-bottom: 26px;
    margin-left: 20px;
    margin-top: 0;
}
/*** ********* css del menu maestro(proyecto)*/

  .input-menu {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
 
  .row .col {
    flex: 1;
  }
  .row{
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    
  }
  
  
  /* Accordion styles */
  
  .tab {
    width: 100%;
    color: #21455B; 
    overflow: hidden;
    background-color: rgba(86,187,140,0.2);
    border-radius: 10px;
    box-shadow: 0px 5px 0px -4px #979797;
    margin-bottom: 16px;
  }
  
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background:none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .tab-label:hover {
    background:rgba(86,187,140,0.2);
  }
  
  .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #21455B;
    background: rgba(86,187,140,0.2);;
    transition: all 0.35s;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: rgba(86,187,140,0.2);;
    cursor: pointer;
  }
  .tab-close:hover {
    background: rgba(86,187,140,0.2);;
  }
  
  input:checked + .tab-label {
    background: rgba(86,187,140,0.2);;
  }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }


/* estilo del toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 80px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 72px;
    width: 72px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/icono\ 1.png');
    background-size: cover;
    background-position: center center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #56BB8C;
    
  }
  
  input + .slider {
    background-color: #21455B;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #56BB8C;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input + .slider:after {
    content: "Docente";
    font-family: 'Comfortaa';
    color: white;
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 78px;
    margin-right: 0px;
  }
  input:checked + .slider:after {
    content: "Alumno";
    margin-left: 60px;
  }
  /*termina stilo del toggle*/

  /* estilo del radios*/
  /* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-family: 'Comfortaa';
    margin-right: 16px;
    margin-bottom: 55px;
  
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 10px 0px gray;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #21455B;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* termina estilo del radios*/

/*empieza estilos de las estrellas*/
.fa-star {
    color: gray;
    padding: 0 4px;
}

.fa-thin {
  color: #000;
}

.clickedStar{
    color: #21455B;
}

.starPicker{
    font-size: 24px !important;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    margin-top: 1rem;
}

.radioBtnStar{
    display: none;
}

.ratingDiv{
  text-align:center;
  margin-top:8em;
}

.label-starts {
  color: #21455B;
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
}

.form-group{
  display: flex;
  justify-content: center;
  margin-top: 0;
  background-color: rgba(86, 187, 140, 0.2);
}
/*termina stilo de estrellas*/ 
.background-proyect{
  width: 530px;
  height: 860px;
  left: 238px;
  top: 181px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: rgba(255,255,255,0.5);

}

.button-as-link {
  background: white;
  color: #21455B;
  font-weight: bold;
  border: 0px;
  border-radius: 2px;
}

.hide {
  display: none;
}
#habi-drop-down{
  background-color: rgba(86, 187, 140, 0.2);
  margin-right: 69px;
  border: 0;
  font-family: 'Lato';
  font-size: 14px;
  width: 277px;
  
}
#input-min{
  border-radius: 0;
  border: 0;
  width: 66px;
  height: 36px;
  background-color: rgba(86, 187, 140, 0.2);
  font-size: 18px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-left: auto;
  margin-right: 69px;
  
}
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
.label-evaluacion{
  display: block;
  font-family: 'Comfortaa';
  font-size: 14px;
 
  
}
.evaluacion-menu{
  display: flex;
  align-items: center;
}
#label-punta{
  margin-bottom: 0;
  
}
.textarea{
border-radius: 20px;
border: 0;
box-shadow: inset 0.2em 0.2em 0px 0px rgba(0,0,0,00.10);
width: 677px;
height: 150px;
margin-bottom: 26px;
}

.cuadro-evalu{
  background-color: white;
  border-radius: 20px;
  width: 677px;
  height: 298px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 18px;
}
.fila-evaluacion{
  background-color: rgba(33,69,91,0.2);
  width: 586px;
  height: 34px;
  margin-bottom: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-family: 'Comfortaa';
}
.radio-x{
  display: none;
}