body{
    background: rgb(33,69,91);
    background: linear-gradient(180deg, rgba(33,69,91,1) 17%, rgba(86,187,140,0.9976365546218487) 67%);
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
}
.boton{
    color: white;
    background: #21455b;
    border-radius: 45px;
    text-align: center;
    border: 0;
    width: 115px;
    height: 45px;
    font-family: 'Comfortaa';
    font-size: 22px;
    box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.5);
}
.logo{
    width: 296.62px;
    height: 150px;
    margin-top: 152px;
    margin-bottom: 157px;

}
.orientacion{
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    border-radius: 20px;
    border-width: 1px;
    font-size: 25px;
    font-family: 'Lato';
    line-height: 24px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 25px;
    width: 350px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-left: 20px;
}

/* estilo del toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 80px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 72px;
    width: 72px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../image/icono\ 1.png');
    background-size: cover;
    background-position: center center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #56BB8C;
    
  }
  
  input + .slider {
    background-color: #21455B;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #56BB8C;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input + .slider:after {
    content: "Docente";
    font-family: 'Comfortaa';
    color: white;
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 78px;
    margin-right: 0px;
  }
  
  
  input:checked + .slider:after {
    content: "Alumno";
    margin-left: 60px;
  }
  /*termina stilo del toggle*/